* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
  font-family: "Arial";
  src: url(../fonts/ARIAL.TTF);
}

@font-face {
  font-family: "Freight";
  src: url(../fonts/FreightBigProBook-Regular.ttf);
}

@font-face {
  font-family: "Aaux";
  src: url(../fonts/aauxnextmdwebfont.otf);
}

:root {
    font-size: 62.5%;

    --nav-height: 7.2rem;

    --Aaux: "Aaux";
    --Freight: "Freight";
    --Arial: "Arial";
}  

html {
    scroll-behavior: smooth;
  }
  
  html,
  body {
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: #090909;
  }

  body {
    background-color: #090909;
    overflow-x: hidden !important;
  }

  .no-scroll {
    overflow: hidden;
    position: fixed;
    width: 100%;
  }

  ul {
    list-style: none;
  }

  ::selection {
  color: #000000;
  background: #d8d8d8;
}

  .wrapper {
    width: min(50rem, 100%);
    margin-inline: auto;
  
    padding-inline: 2.4rem;
  }

  @media (min-width: 1080px) {
    .wrapper {
      width: min(90rem, 100%);
    }
  }

  @media (min-width: 1200px) {
    .wrapper {
      width: min(100rem, 100%);
    }
  }

  @media (min-width: 1400px) {
    .wrapper {
      width: min(110rem, 100%);
    }

    :root {
      font-size: 65%;
    }
  }

  @media (min-width: 1700px) {
    .wrapper {
      width: min(120rem, 100%);
    }
  }
  
  section {
    padding-bottom: 17rem;
    position: relative;
  }

  /*====  scrollbar ============================ */
::-webkit-scrollbar {
  width: .6rem;
  background-color: #0f0f0f;
}

::-webkit-scrollbar-thumb {
  width: .6rem;
  background: linear-gradient(to bottom, #fff, transparent);
  border-radius: 1rem;
}

  /* buttonWhatsapp =================== */
#buttonWhatsapp {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    z-index: 100;
  
    opacity: 0;
    visibility: hidden;
  
    transform: translateY(100%);
    transition: all 300ms ease-in-out;
  }
  
  #buttonWhatsapp.show {
    opacity: 1;
    visibility: visible;
  
    transform: translateY(0);
  }
  
  #buttonWhatsapp img {
    width: 6rem;
    transition: all 300ms ease-in-out;
  }
  
  #buttonWhatsapp svg:hover {
    transform: scale(1.1);
  }