.sobre {
    background-color: #090909;

    min-height: 100vh;
    max-height: 100vh;

    overflow: hidden;
    position: relative;

    padding: 0;
}


.sobre .content {
    width: 100%;
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sobre .principal {
    position: relative;
    width: 100%;
}

.sobre h2 {
    color: rgb(225, 225, 225);

    font-family: "Marcellus", serif; 
    font-weight: 400;
    font-style: normal;
    letter-spacing: 3px;
    
    font-size: 1.8rem;
    width: 100%;
    text-align: left;
    margin-left: 1.4rem;
}

.sobre h1 {
    color: #363636;
    font-size: 9rem;
    font-family: "Marcellus", serif; 
    font-weight: 500;
    line-height: .7;

    display: flex;
    align-items: center;
    justify-content: center;
}

.sobre h1 span:nth-child(1),
.sobre h1 span:nth-child(4) {
    transform: translateY(-9px);
}

.sobre h4 {
    color: #b1b1b1;
    margin-top: 4rem;
    text-align: center;
    font-family: "Cormorant";
    font-style: italic;
    font-size: 1.6rem;
    font-weight: 200;
}

.sobre ion-icon {
    color: rgb(225, 225, 225);
    font-size: 2rem;
    margin-top: 3rem;

    animation: ionicon infinite ease-in-out 3s;
}

.contact {
    position: absolute;
    bottom: 5%;

    width: 80%;

    display: flex;
    justify-content: space-between;
}

.contact .container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.contact .container:nth-child(1) {
    text-align: left;
}

.contact .container:nth-child(2) {
    text-align: right;
}

.contact .container p,
.contact .container p a {
    color: #868686;
    font-size: 1.3rem;
    font-family: Helvetica;
    font-style: italic;
}

@media (min-width: 1080px) {
    .sobre .principal {
        width: max-content;
    }

    .sobre h2 {
        font-size: 2.5rem;
        margin-left: .5rem;
    }

    .sobre h1 {
        font-size: 12rem;
    }

    .sobre .contact {
        width: 50%;
    }

    .sobre .contact .container p,
    .sobre .contact .container p a {
        font-size: 1.4rem;
    }

    header.sobre ion-icon {
        font-size: 3rem;
        margin-top: 4rem;
    
        animation: ionicon infinite ease-in-out 3s;
    }
    
    .sobre h4 {
        width: 50%;
    }
}

