
#projetos .projeto,
#projetos .sobre {
    position: sticky;
    overflow-y: auto;
    box-shadow: 0 -20px 100px #1212123d;
    overflow-x: hidden !important;
}

.projeto header {
    position: relative;
    padding-top: 5rem;
}

.projeto header h2 {
    color: #000000;
    font-family: var(--Freight); 
    font-weight: 300;
    font-style: normal;
    line-height: .9;
    font-size: 5rem;
    text-align: left;

    position: relative;
}

.projeto header h3 {
    color: #1a1a1a;
    margin-top: 3rem;
    text-align: left;
    font-family: var(--Aaux); 
    text-transform: uppercase;
    letter-spacing: .4px;
    font-size: 1.6rem;
    font-weight: 200;
}

.projeto:nth-child(1) {
    top: -60%;
}

.projeto:nth-child(2) {
    top: -190%;
}

.projeto:nth-child(3) {
    top: -20%;
}

.projeto:nth-child(4) {
    top: -100%;
}

.projeto:nth-child(5) {
    top: -60%;
}

.projeto:nth-child(6) {
    top: -60%;
}

.projeto:nth-child(7) {
    top: -60%;
}

.projeto:nth-child(8) {
    top: -250%;
}

.projeto:nth-child(9) {
    top: -110%;
}

.projeto:nth-child(10) {
    top: -240%;
}

@media (min-width: 1080px) {
    section#projetos .projeto {
        box-shadow: 0 -80px 100px #00000043;
    }

    section.projeto header::before {
        bottom: -5.5rem;
    }

    section.projeto header {
        gap: 4rem;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10rem;
        align-items: end;

        position: relative;
    }

    section.projeto header h2 {
        font-size: 8rem;
        text-align: left;
    }

    section.projeto header h2::before {
        display: none;
    }

    section.projeto header h3 {
        margin-bottom: .5rem;
        font-size: 1.6rem;

        position: relative;
    }

    section.projeto header h3::before {
        content: '';
        position: absolute;
        background: #4f4f4f;
        width: 2px;
        height: 4rem;
        left: -1.5rem;
        top: -1rem;
    }

    section.projeto:nth-child(1) {
        top: -150%;
    }
    
    section.projeto:nth-child(2) {
        top: -150%;
    }
    
    section.projeto:nth-child(3) {
        top: -50%;
    }
    
    section.projeto:nth-child(4) {
        top: -310%;
    }
    
    section.projeto:nth-child(5) {
        top: -130%;
    }
    
    section.projeto:nth-child(6) {
        top: -35%;
    }
    
    section.projeto:nth-child(7) {
        top: -90%;
    }
    
    section.projeto:nth-child(8) {
        top: -25%;
    }
    
    section.projeto:nth-child(9) {
        top: -20%;
    }
    
    section.projeto:nth-child(10) {
        top: -150%;
    }
}
