#projetos {
    padding-block: 0;
    padding-bottom: 0;
}

.projeto {
    background-color: #ffffff;
}

.projeto .container {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
}

.projeto .container p {
    font-family: var(--Arial);
    letter-spacing: 2.2px;
    font-style: normal;
    font-size: 1.1rem;
    color: #000000;
    font-weight: 100;
    line-height: 1.4;
    text-align: left;

    margin-top: 3rem;
    margin-bottom: 1.5rem;
}

.projeto iframe {
    width: 100%;
    aspect-ratio: 16/9;
    object-fit: cover;
    border-radius: .5rem;
}

.projeto img {
    width: 100%;
    border-radius: .5rem;
}

.projeto .gifs {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
}

.projeto img.conto {
    width: 100%;
}

.projeto .container.titulos .grid {
    background-color: #0d0d0d;
    border: 1px solid #000;
    padding: 2rem;
    border-radius: 1rem;

    display: flex;
    flex-direction: column;
    gap: 4rem;
    align-items: start;
    text-align: left;
}

.projeto .container.titulos .grid h3 {
    color: #e5e5e5;
    font-family: var(--Freight); 
    letter-spacing: 1.5px;
    font-weight: 600;
    font-size: 1.8rem;
}

.projeto .container.titulos .grid p {
    color: #848484;
    font-size: 1.6rem;
    font-family: var(--Arial);
    font-style: italic;
    letter-spacing: 1px;
    font-weight: 200;
    margin-bottom: 0;
}

.projeto .container.eodv {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 1rem;
}

.projeto .container.oqtem .box {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    grid-template-areas: "A B";
    align-items: center;
    gap: 1rem;
}

.projeto .container.oqtem .box:nth-child(2) {
    grid-template-columns: 1fr 1.5fr;
}

.projeto .container.oqtem .box:nth-child(2) img {
    grid-area: B;
}

.projeto .container.mega .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.projeto .container.mega .grid iframe {
    aspect-ratio: 9/11;
    object-fit: cover;
}

.projeto .container.caixa .sound {
    width: 100%;
}

.projeto .container.caixa .sound h4 {
    color: #1a1a1a;
    margin-top: 3rem;
    text-align: left;
    font-family: var(--Aaux); 
    text-transform: uppercase;
    letter-spacing: 1.4px;
    font-size: 1.6rem;
    font-weight: 400;
    margin-bottom: 1rem;
}

.projeto .container.caixa .box {
    width: 100%;
}

.projeto .container.facebook .grid {
    display: flex;
    flex-direction: column;
    gap: 6rem;
}

.projeto .container.facebook .box span {
    text-align: left;
    font-size: 1.4rem;
    display: block;
    margin-bottom: .5rem;
}

.projeto .container.facebook .box h4 {
    color: #000000;
    font-family: var(--Freight); 
    font-weight: 600;
    font-style: normal;
    line-height: .9;
    font-size: 2rem;
    text-align: left;

    margin-bottom: 2rem;
}

@media (min-width: 1080px) {
    section.projeto .container {
        justify-content: center;
        align-items: start;

        margin-top: 2rem;
    }

    section.projeto .container p {
        margin-top: 4rem;
        margin-bottom: 4rem;
        width: 50%;
        font-size: 1.4rem;
    }

    section.projeto .gifs {
        width: 100%;
    }

    section.projeto .gifs img.gif {
        aspect-ratio: 9/16;
        width: 100%;
        object-fit: cover;
    }

    section.projeto .container img.conto {
        width: 50%;
    }

    section.projeto .container.facebook .grid {
       gap: 7rem;
    }

    .projeto .container.facebook .box span {
        margin-bottom: .5rem;
    }
    
    .projeto .container.facebook .box h4 {
        font-size: 2.5rem;
        margin-bottom: 3rem;
    }

    section.projeto .container.rancheiro .grid {
        width: 100%;
    }

    section.projeto .container.irobot .grid {
        gap: 1rem;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    section.projeto .container.eloglobal .grid {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        align-items: start;
        gap: 1rem;
        margin-bottom: 1rem;
    }

    section.projeto .container.titulos .grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 7rem;
        gap: 8rem;
    }

    section.projeto .container.titulos h3 {
        position: relative;
    }

    section.projeto .container.titulos h3::before {
        content: '';
        position: absolute;
        width: 5rem;
        height: 3px;
        background-color: #393939;
        top: -2rem;
        left: -1rem;
    }

    section.projeto .container.eodv .grid {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        gap: 1rem;
    }

    section.projeto .container.oqtem .box {
        column-gap: 5rem;
    }

    section.projeto .container.oqtem .box h3 {
        font-size: 1.8rem;
        font-weight: 300;
    }

    section.projeto .container.oqtem .images {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 1rem;
    }

    section.projeto .container.mega .grid {
        width: 100%;
    }

    section.projeto .container.caixa .grid {
        margin-top: 1rem;
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        gap: 1rem;
    }
}